.embla {
  overflow: hidden;
  width: 100%;
}
.embla__viewport {
  width: 100%; /* Full width */
  height: auto; /* Adjust based on your content */
}
.embla__container {
  display: flex;
  margin-left: -24px;
}
.embla__slide {
  flex: 0 0 calc(25% - 24px);
  min-width: 0;
  margin-left: 24px;
  &:first-child {
    margin-left: 24px;
  }
 
}
.embla__controls {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.embla__buttons {
  display: flex;
  width: 100%;
  gap: 16px;
}
.embla__button {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  background-color: #d78c43;
  border: none;
}
.embla__dots {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.embla__dot {
  display: inline-flex;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #d78c43;  
  &.is-active {
    background-color: #d78c43;
  }
}
@media only screen and (max-width: 1000px){
    .embla__slide {
        flex: 0 0 calc(100%/3 - 24px);
    }
    .embla__container {
      margin-left: -12px;
      margin-right: -12px;
    }
}

@media only screen and (max-width: 750px){
    .embla__slide {
        flex: 0 0 calc(50% - 24px);
    }
}

@media only screen and (max-width: 450px){
    .embla__slide {
        flex: 0 0 calc(100% - 24px);
    }
}