<!--Logo Box-->
{{ $logo_w := .Scratch.Get "logo_w" }}
{{ $logo_h := .Scratch.Get "logo_h" }}
{{ $logo_mode := .Scratch.Get "logo_mode" }}
{{ $logo_description := .Scratch.Get "logo_description" }}

<a class="logo" href="{{ .Site.Home.RelPermalink }}">
   {{ if $.Site.Params.logo }}
   <img src="{{ if eq $logo_mode "dark" }}{{ $.Site.Params.logo_dark | relURL }}{{ else }}{{ $.Site.Params.logo | relURL }}{{ end }}" alt="{{ .Site.Params.site_name }}"{{ with $logo_h }} width="{{ math.Round (mul (float .) (div 628.0 182.0)) }}" height="{{ . }}"{{ end }}>
   {{ if $logo_description }}
   <span>{{ $.Site.Params.logo_description | markdownify }}</span>
   {{ end }}
   {{ else }}
   {{ $.Site.Params.site_name | markdownify }}
   {{ end }}
</a>