<section class="section section--cta">
    <div class="container text--center">
        <hgroup>
            <p class="subtitle">
                / cta /
            </p>
            <h2 class="h2">
                Like What You See?
            </h2>
            <p class="lead">
                Get in touch today to talk about your next job.
            </p>
            <a href="tel:+353861747745" class="btn" title="Call 086 174 77 45">
                <b><span>Call 086 174 77 45</span><span>Call 086 174 77 45</span></b>
            </a>
        </hgroup>
    </div>
</section>