{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ "<!-- Hero Section -->" | safeHTML }}
{{ "<!-- End of Hero Section -->" | safeHTML }}

<section class="hero__wrap">
    {{- partial "header.html" . -}}
    <!-- BEGIN section -->
    {{- partial "_hero.html" . -}}
    <!-- END section -->
</section>
<main>

    <!-- BEGIN section -->
    {{- partial "_home-sec-about.html" . -}}
    <!-- END section -->

    <!-- BEGIN section -->
    {{- partial "_home-sec-features.html" . -}}
    <!-- END section -->

    <!-- BEGIN section -->
    {{- partial "_home-sec-features-gallery.html" . -}}
    <!-- END section -->
</main>
{{ end }}